<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="author/create" class="nav-link" routerLinkActive="active">
          Create Author
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="author/list" class="nav-link" routerLinkActive="active">
          List Authors
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="publication/create" class="nav-link" routerLinkActive="active">
          Create Publication
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="publication/list" class="nav-link" routerLinkActive="active">
          List Publications
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>